.buttonContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}

.filter {
    outline: none;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    padding : var(--button-padding,1rem 4rem);
}
@media screen and (min-width: 769px) and (max-width:1024.98px){
    .buttonContainer{
        gap : .2rem;
    }
}
