.container {
  display: grid;
  grid-template-columns: 20rem 0.5fr 0.5fr;
  grid-template-rows: 15vh 14rem 0.5fr 0.5fr;
  grid-template-areas:
    "header  header header"
    "sidebar card  card"
    "sidebar chart1 chart1"
    "nothing chart2 chart2";
  gap: 1rem;
  padding: 1rem;
}
.header {
  grid-area: header;
}
.sidebar {
  grid-area: sidebar;
}
.card {
  grid-area: card;
  background-color: var(--primary-clr2);
}
.chart1 {
  grid-area: chart1;
  background-color: blueviolet;
}
.chart2 {
  grid-area: chart2;
  background-color: orange;
}

.chart1,
.chart2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
