.userContainer {
    background-color : red;
 

}
.avatar {

    max-width: 5rem;
    border-radius: 50%;
    padding: .8rem;
    background-color: var(--icons-color-bg);
    border : .5px solid #ccc;
  }