/* .sidebarcontainer {
    display : flex;
    flex-direction : column;
} */

.sectionTitle {
  color: var(--card-font-clr1);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  margin-inline: auto;
  border-radius: 0.4rem;
  background-color: var(--icons-color-bg);
  margin-bottom: 1.8rem;
}
.sectionTitle p {
  font-size: 1.8rem;
  font-weight: var(--font-bold);
}
.sidebarIcon {
  display: block;
  width: 2.8rem;
}
ul {
  margin-inline: auto;
  margin-block: auto;
}
ul li {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  gap: 1rem;
}
ul li a {
  white-space: nowrap;
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--sidebar-clr1);
  transition: color 0.5s;
  font-weight: var(--font-bold);
}
ul li a:hover {
  color: var(--card-font-clr1);
}
.sidebarContent a:global(.active) {
  color: var(--sidebar-active-clr);
}
.sidebarContent {
  padding-inline: 2rem;
  padding-block: 1rem;
}
