.subheader {
    display : flex;
    justify-content : space-between;
    padding-inline : 1rem;
    align-items : center; 
      
    
}
span {
    display : flex;
    align-items : center;
    gap : 1rem;
    font-size : 1.8rem;
    font-weight : var(--font-bold);
}


@media screen and (max-width : 480.98px){
   .subheader {
    justify-content : flex-start;
    gap : 4rem;
   }
    
    .sidebarfilters {
        padding : .5rem 2rem;
    }
  
    
    span {
        font-size: 1.2rem;
    }
    .mobilehidden {
        display : none;
    }
   
}
@media screen and (min-width : 481px) and (max-width : 768.98px){
    .sidebarfilters {
        padding : .5rem 2rem;
    }
}
@media screen and (min-width : 769px) and (max-width : 1024.98px){
    .sidebarfilters {
        padding : .5rem 2rem;
    }
}
