:root {
    --sidebar-collapsed-width : 5rem;
}
.appLayout {
    display : grid;
    grid-template-columns : var(--sidebar-width) 1fr;
    grid-template-rows : 18vh 7vh  auto 1fr;
    grid-template-areas : 
    "header header"
    "sidebar subheader"
    "sidebar card"
    "sidebar main"
    ;
    gap : 1.8rem;
 
    
   
  
    position : relative;
  
    
}

 .subheader {
  grid-area : subheader;
 
 }

.header {
    grid-area : header;
   
  
    
}
.sidebar {
    grid-area: sidebar;
    
}

.card {
    grid-area : card;
    padding : .5rem;
    
    
    
}



main {
    grid-area: main;
    display : flex;
    align-items : center;
    justify-content : center;
    width : 100%;
    
    
} 
@media screen and (max-width : 480.98px){
  .appLayout {
    grid-template-columns : 1fr;
    grid-template-rows : 10vh 7vh auto 1fr;
    grid-template-areas : 
    'header'
    'subheader'
    'card'
    'main';
   
  }
  main {
    overflow-y : auto;
  }
  
  
}
@media screen and (min-width : 481px) and (max-width : 768.98px){
  .appLayout {
    
    grid-template-rows : 10vh 7vh auto 1fr;
    grid-template-areas : 
    'header header'
    'subheader subheader'
    'card card'
    'main';
   
  }
}
@media screen and (min-width:769px) and (max-width:1024.98px){
  .appLayout {
    
    grid-template-rows : 12vh 7vh auto 1fr;
    grid-template-areas : 
    'header header'
    'subheader subheader'
    'card card'
    'main';
   
  }
}