.search{
    display : flex;
    width : max-content;
    align-items: center;
    padding : 1.2rem;
    border-radius : 2.4rem;
    background-color : var(--search-bar-bg);
   
}
.searchIcon{
    max-width : 2rem;
}
.searchInput {
    background:transparent;
    outline : none;
    border : none;
    margin-left : 1.4rem;
    width : 20rem;
}
.searchInput::placeholder {
    color : var(--primary-clr8);
    font-weight : var(--font-medium);
    font-size : 1.6rem;

}