.logoContainer {
    display : flex;
    
    align-items : center;
    justify-content : flex-start;
    gap : 1rem;
    padding : 1rem;
  
    min-width : auto;
    margin-right : 2rem;
    
 
   
}
.logoContainer h2 {
    
  
    color : var(--header-pry-clr1);
  
}
.logoContainer img {
    display : block;
    max-width : 5rem;
    border-radius : 50%;
}
.shrinking {
    width : 3.4rem;
    
}
.menubar {
    width : 100%;
    
    color: var(--sidebar-clr1);
    
    border : 2px solid #ccc;
    
    
}
.shrinkedlogo{
    width : 9rem;
    align-items : center;
    justify-content : center;
}
@media screen and (max-width : 480.98px){
   .onMobile {
    display : block;
   }
   .logoContainer {
    display : none;
   }
   
}
@media screen and (max-width : 768.98px){
    .logoContainer {
        display : none;
    }
}
@media screen and (min-width:769px) and (max-width:1024.98px){
    .logoContainer h2 {
        display : none;
    }
}
