header {
  
  gap : 1rem;
  /* background-color : orange; */
  padding-inline: 1rem;
  box-shadow : 0rem 0.2rem .6rem rgba(0,0,0,0.2);
 
  
  
 

}
.title {
  display : flex;
  /* background-color : aqua; */
  align-items : center;
  gap : 1rem;
  flex-grow : 1;
  

}
.headContainer{
  display: flex;
  /* background-color : orange; */
  
  justify-content: space-between;
  align-items: center;
  position : relative;
  /* padding-inline: 1rem; */

  padding-block : 1rem;
}
.dropdown {
  position : absolute;
  top : 85%;
  right : 0;
  background-color : #fff;
  width : 18rem;
  border-radius : .5rem;
  padding-inline : 2rem;
  padding-block : 1.5rem;
  box-shadow : 0.2rem 0.2rem .6rem rgba(0,0,0.2);

}
.dropdown p {
  font-size : 1.6rem;
  white-space : nowrap;
  margin-bottom : 1rem;
  cursor : pointer;
  font-weight : bold;
  display : flex;
  gap : 1rem;
}
.headContainer .pagetitle {
  font-size: 3rem;
  font-weight: var(--font-bold);
  color: var(--header-pry-clr1);
  white-space :nowrap;
  margin-right : 2rem;
  /* margin-right: 3rem; */
}
.headContainer img {
  cursor: pointer;
}

.notification,
.darkmode,
.avatar {

  max-width: 5rem;
  border-radius: 50%;
  padding: .8rem;
  background-color: var(--icons-color-bg);
  border : .5px solid #ccc;
}

.imageicons {
  display : flex;
  
 
  gap : 2rem;
  /* background-color : red; */
}
.rightHeader {
  display : flex;
  gap : 2rem;
}
.menubar {
  display : block;
  width : 2.8rem;
  margin-right : 1rem;
}
@media screen and (max-width : 480.98px){
  .mobilehidden {
    display : none;
  }
  /* .menubar {
    display : none;
  } */
  
  /* .mobilehidden {
    display : none !important;
  }
  
 .headContainer p {
  font-size : 1.8rem;
  white-space : nowrap;
  
 }
 .darkmode {
  max-width : 4rem;
 }
 .lightmode {
  max-width : 4rem;
  display : block;
 }
 .searchbox {
  display : none !important ;
} */
 
}


/* @media screen and (min-width: 481px) and (max-width: 768.98px){
  html {
    font-size : 55%;
  }
  .mobilehidden {
    display : none !important;
  }
  .headContainer p {
    font-size : 2.5rem;
    white-space : nowrap;
    
   }
  
 
  .searchbox {
    display : block !important ;
  }
 
}
@media screen and (min-width : 769px) and (max-width : 1024.98px){
  .mobilehidden {
    display : none !important;
  }
  .headContainer p {
    font-size : 2.5rem;
    white-space : nowrap;
    
   }
  
 
  .searchbox {
    display : block !important ;
  }
 
  
}
 */
