header {
  display : flex;
  flex-direction : column;
  gap : 1rem;
  /* background-color : orange; */
 
  
  
  padding-block : .5rem;

}
.headContainer{
  display: flex;
  /* background-color : orange; */
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;

  padding-block : 1rem;
}
.headContainer p {
  font-size: 3rem;
  font-weight: var(--font-bold);
  color: var(--header-pry-clr1);
  white-space :nowrap;
  margin-right : 2rem;
  /* margin-right: 3rem; */
}
.headContainer img {
  cursor: pointer;
}

.notification,
.darkmode,
.avatar {

  max-width: 5rem;
  border-radius: 50%;
  padding: .8rem;
  background-color: var(--icons-color-bg);
}
.imageicons {
  display : flex;
  
 
  gap : 2rem;
  /* background-color : red; */
}
.rightHeader {
  display : flex;
  gap : 2rem;
}
.menubar {
  display : block;
  width : 2.8rem;
  margin-right : 1rem;
}
@media screen and (max-width : 480.98px){
  
  .mobilehidden {
    display : none !important;
  }
  
 .headContainer p {
  font-size : 1.8rem;
  white-space : nowrap;
  
 }
 .darkmode {
  max-width : 4rem;
 }
 .searchbox {
  display : none !important ;
}
 
}


@media screen and (min-width: 481px) and (max-width: 768.98px){
  html {
    font-size : 55%;
  }
  .mobilehidden {
    display : none !important;
  }
  .headContainer p {
    font-size : 2.5rem;
    white-space : nowrap;
    
   }
  
 
  .searchbox {
    display : block !important ;
  }
 
}
@media screen and (min-width : 769px) and (max-width : 1024.98px){
  .mobilehidden {
    display : none !important;
  }
  .headContainer p {
    font-size : 2.5rem;
    white-space : nowrap;
    
   }
  
 
  .searchbox {
    display : block !important ;
  }
 
  
}

