header {
  
  gap : 1rem;
 
  padding-inline: 1rem;
  box-shadow : 0rem 0.2rem .6rem rgba(0,0,0,0.2);
 
  
  
 

}
.title {
  display : flex;
  
  align-items : center;
  gap : 1rem;
  flex-grow : 1;
  

}
.headContainer{
  display: flex;
  
  
  justify-content: space-between;
  align-items: center;
  position : relative;
  

  padding-block : 1rem;
}
.dropdown {
  position : absolute;
  top : 85%;
  right : 0;
  background-color : #fff;
  width : 18rem;
  border-radius : .5rem;
  padding-inline : 2rem;
  padding-block : 1.5rem;
  box-shadow : 0.2rem 0.2rem .6rem rgba(0,0,0.2);

}
.dropdown p {
  font-size : 1.6rem;
  white-space : nowrap;
  margin-bottom : 1rem;
  cursor : pointer;
  font-weight : bold;
  display : flex;
  gap : 1rem;
}

.headContainer .pagetitle {
  font-size: 3rem;
  font-weight: var(--font-bold);
  color: var(--header-pry-clr1);
  white-space :nowrap;
  margin-right : 2rem;
 
}
.headContainer img {
  cursor: pointer;
}

.notification,
.darkmode
 {

  max-width: 5rem;
  border-radius: 50%;
  padding: .8rem;
  background-color: var(--icons-color-bg);
  border : .5px solid #ccc;
}

.imageicons {
  display : flex;
  
 
  gap : 2rem;
 
}
.rightHeader {
  display : flex;
  gap : 2rem;
}
.menubar {
  display : block;
  width : 2.8rem;
  margin-right : 1rem;
}
.avatar{
  width : 5rem;
  height : 5rem;
  border-radius : 50%;
  border : .1rem solid #ccc;
  background-color: var(--icons-color-bg);
  font-weight : var(--font-extrabold);
  display : flex;
  align-items : center;
  cursor : pointer;
  justify-content : center;
  font-size: 2rem;

}

@media screen and (max-width : 480.98px){
  .mobilehidden {
    display : none;
  }
  .headContainer .pagetitle {
    font-size : 2.4rem;
  }
}


@media screen and (min-width : 481px) and (max-width : 768.98px){
  .mobilehidden {
    display : none;
  }
}
@media screen and (min-width:769px) and (max-width:1024.98px){
  .headContainer{
    align-items : center;
  

  }
 
}