.cardcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  padding: 0.5rem;
  gap: 2rem;
}
.cardItem {
  border: 0.2rem solid #553838;
  border-radius: 0.6rem;
  border-width: 0.001rem;
  font-size: 1.4rem;
  display: flex;
  padding: 1rem;
  color: var(--card-font-clr1);
}
.iconImage {
  height: 4rem;
}

.cardText {
  width: 100%;
}

.cardValue {
  font-size: 3rem;
  font-weight: var(--font-bold);
  margin-top: 2rem;
}
.cardIcon {
  width: 8rem;
  height: 5rem;
  padding: 0.5rem;
  border-radius: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
}
